<form action = '@Url.Action("InicioSesion")' class="row g-3">
     <div class="col-md-6">
            <label class="form-label"></label>
            <input type="text" class="form-control" name="username" placeholder= "username" autocomplete = "off" required>
        </div>
        <div class="col-md-6">
            <label class="form-label"></label>
            <input type="text" class="form-control" name="foto" placeholder= "foto" autocomplete = "off" required>
        </div>
    <div class="col-md-4">
        <label  class="form-label"></label>
        <select class="form-select" name="IdDificultad">
            <option value="">Eliga su dificultad</option>
            @foreach (Dificultad dificultad in ViewBag.Dificultad)
            {
                <option value="@dificultad.IdDificultad">@dificultad.Nombre</option>
            }
        </select>
    </div>
    <div class="col-12 mt-5 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>