<style>
    body{
        background-image: url("../../img/Configuracion.cshtml.png");
    }
</style>
<body>
    <div class="form-container" >
        <h1 class="form-title">Configuracion del Juego</h1>
        <form action='@Url.Action("InicioSesion")'>
            <!-- Campo para elegir el nombre de usuario -->
            <div class="form-group">
                <label for="username">Nombre de Usuario</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Ingresa tu nombre de usuario">
            </div>

            <!-- Campo para subir una foto -->
            <div class="form-group">
                <label for="photo">Sube tu Foto</label>
                <input type="text" id="photo" name="foto" class="form-control">
            </div>

            <!-- Campo para elegir la dificultad -->
            <div class="form-group">
                <label for="difficulty">Elige la Dificultad</label>
                 <select class="form-control" name="dificultad">
                @foreach (Dificultad dificultad in ViewBag.Dificultad)
                {
                    <option value="@dificultad.IdDificultad">@dificultad.Nombre</option>
                }
                </select>
            </div>
            <!-- Botón para enviar -->
            <button type="submit" class="submit-button">Enviar</button>
        </form>
    </div>

    <script src="script.js"></script>
</body>