<style>
    body{
        background-image: url("../../img/Creditos.html.png");
    }
</style>
<body>
    <div class="container">
            <h1 class="correct-title">Fin de preguntados</h1>
            
        <div class="credits-container">
            <!-- Espacio para la imagen del usuario -->
            <div class="user-photo">
                <img src="@ViewBag.Foto" alt="Foto del usuario" class="profile-pic">
            </div>
            <!-- Nombre de usuario -->
            <div class="user-info">
                <div class="username">@ViewBag.Username</div>
                <div class="points">@ViewBag.PuntajeActual</div>
            </div>
            <form action='@Url.Action("Ruleta")' style="display:flex; align-items:center; justify-content:center; margin-top:5%" >
              <button class="jugar-button">Volver a Jugar</button>
            </form>
        </div>
    </div>

    

    <script>
        // Seleccionar la imagen del usuario
const userPhoto = document.querySelector('.user-photo');

// Función para rotar la imagen
function rotateImage() {
    userPhoto.style.animation = 'spin 5s linear infinite';  // '5s' es la duración de una rotación completa
}

// Iniciar la animación cuando la página se cargue
window.onload = rotateImage;

    </script>

</body>