<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      .ruleta-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .flecha {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .next-button {
        margin-top: 20px;
      }
    </style>
  </head>
    <body>
        <div class="ruleta-container mt-3" id="ruleta">
          <canvas id="canvas" width="500" height="500"></canvas>
          <img src="~/img/flechita.png" class="flecha" alt="Flecha">
          <button class="girarBtn" id="girarBtn" onclick="girarRuleta()">Girar</button>
        </div>
    
        <form action='@Url.Action("Comenzar")'>
            <input type="hidden" name="categoria" id="categorias">
            <button class="next-button" id="button">Jugar</button>
        </form>

        <script src="~/js/ruleta.js"></script>
    </body>
</html>

