<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      .ruleta-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .flecha {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .next-button {
        margin-top: 20px;
      }
    </style>
  </head>

    
    <body>
      <div class="background-image-container">
          <img src="~/IMG/Configuracion.cshtml.png" alt="Background Image" class="background-image">
      </div>
      <div class="icons-container">
            <img src="~/IMG/menu_40dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.svg" alt="Menu" class="menu-icon">
            <img src="~/IMG/person_40dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.svg" alt="User" class="user-icon">
      </div>
          <form action='@Url.Action("Comenzar")' style="z-index: 1; display:flex; align-items:center; justify-content:center; margin-top:5%" >
              <input type="hidden" name="categoria" id="categorias">
              <button class="jugar-button" id="button">Jugar</button>
          </form>
          <div class="ruleta-container" id="ruleta" style="position: absolute; width: 100%; height:100%; ">
            <canvas id="canvas" width="500" height="500"></canvas>
            <input type="button" value="Girar" onclick="girarRuleta()" id="girarBtn" class="girarBtn" style="display:none;" >
            <label for="girarBtn">
              <img src="~/img/flechita.png" class="flecha" alt="Flecha" style = "with:50px; height:50px">
            </label>
          </div>
      

          <script src="~/js/ruleta.js"></script>
      
    </body>
</html>

